[submodule "usr/usr/zlibc"]
	path = usr/usr/zlibc
	url = https://github.com/xetch-mirror/zlibc.git
[submodule "usr/usr/BCC"]
	path = usr/usr/BCC
	url = https://github.com/xetch-mirror/BCC.git
[submodule "usr/usr/coreutils"]
	path = usr/usr/coreutils
	url = https://github.com/xetch-mirror/coreutils.git
